In [1]:
from google.cloud import bigquery

In [2]:
# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "world-bank-intl-debt" dataset
dataset_ref = client.dataset("world_bank_intl_debt", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

Exploration of the dataset

In [3]:
# List all the tables in the "world-bank-intl-debt" dataset
tables = list(client.list_tables(dataset))

tables_id=[table.table_id for table in tables]

tables_id

['country_series_definitions',
 'country_summary',
 'international_debt',
 'series_summary',
 'series_times']

In [4]:
# Construct a reference to the "international_debt" table
table_ref = dataset_ref.table("international_debt")

# API request - fetch the table
table = client.get_table(table_ref)

In [5]:
# Print the schema of the "international_debt" table 
table.schema

[SchemaField('country_name', 'STRING', 'NULLABLE', '', (), None),
 SchemaField('country_code', 'STRING', 'NULLABLE', '', (), None),
 SchemaField('indicator_name', 'STRING', 'NULLABLE', '', (), None),
 SchemaField('indicator_code', 'STRING', 'NULLABLE', '', (), None),
 SchemaField('value', 'FLOAT', 'NULLABLE', '', (), None),
 SchemaField('year', 'INTEGER', 'NULLABLE', '', (), None)]

In [6]:
# Preview the first five lines of the "full" table
client.list_rows(table, max_results=5).to_dataframe()

  country_name country_code     indicator_name  indicator_code  value  year
0         Chad          TCD  GNI (current US$)  NY.GNP.MKTP.CD    NaN   NaN
1         Chad          TCD  GNI (current US$)  NY.GNP.MKTP.CD    NaN   NaN
2         Chad          TCD  GNI (current US$)  NY.GNP.MKTP.CD    NaN   NaN
3         Chad          TCD  GNI (current US$)  NY.GNP.MKTP.CD    NaN   NaN
4         Chad          TCD  GNI (current US$)  NY.GNP.MKTP.CD    NaN   NaN

Printing all the distinct names of countries

In [7]:
# Query to count the extract the rows in country_name column
country_query = """
           SELECT country_name AS country 
               FROM `bigquery-public-data.world_bank_intl_debt.international_debt`
               GROUP BY country
       """


# Set up the query
cq_job = client.query(country_query)

# API request - run the query, and return a pandas DataFrame
countries = cq_job.to_dataframe()

#Extract the number
print(countries.to_string())

                                                country
0                                           Afghanistan
1                                                Angola
2                                               Albania
3                                             Argentina
4                                               Armenia
5                                            Azerbaijan
6                                               Burundi
7                                                 Benin
8                                          Burkina Faso
9                                            Bangladesh
10                                             Bulgaria
11                               Bosnia and Herzegovina
12                                              Belarus
13                                               Belize
14                                              Bolivia
15                                               Brazil
16                                               Bhutan
17                                             Botswana
18                             Central African Republic
19                                                China
20                                        Cote d'Ivoire
21                                             Cameroon
22                                     Congo, Dem. Rep.
23                                          Congo, Rep.
24                                             Colombia
25                                              Comoros
26                                           Cabo Verde
27                                           Costa Rica
28                                             Dominica
29                                   Dominican Republic
30                                              Algeria
31          East Asia & Pacific (excluding high income)
32        Europe & Central Asia (excluding high income)
33                                              Ecuador
34                                     Egypt, Arab Rep.
35                                              Eritrea
36                                             Ethiopia
37                                                 Fiji
38                                                Gabon
39                                              Georgia
40                                                Ghana
41                                               Guinea
42                                          Gambia, The
43                                        Guinea-Bissau
44                                              Grenada
45                                            Guatemala
46                                               Guyana
47                                             Honduras
48                                                Haiti
49                                            Indonesia
50                                             IDA only
51                                                India
52                                   Iran, Islamic Rep.
53                                              Jamaica
54                                               Jordan
55                                           Kazakhstan
56                                                Kenya
57                                      Kyrgyz Republic
58                                             Cambodia
59    Latin America & Caribbean (excluding high income)
60                                              Lao PDR
61                                              Lebanon
62                                              Liberia
63                                            St. Lucia
64         Least developed countries: UN classification
65                                           Low income
66                                            Sri Lanka
67                                  Lower middle income
68                                  Low & middle income
69                                              Lesotho
70                                              Morocco
71                                              Moldova
72                                           Madagascar
73                                             Maldives
74                                               Mexico
75                                        Middle income
76                                      North Macedonia
77                                                 Mali
78                                              Myanmar
79   Middle East & North Africa (excluding high income)
80                                           Montenegro
81                                             Mongolia
82                                           Mozambique
83                                           Mauritania
84                                            Mauritius
85                                               Malawi
86                                                Niger
87                                              Nigeria
88                                            Nicaragua
89                                                Nepal
90                                             Pakistan
91                                                 Peru
92                                          Philippines
93                                     Papua New Guinea
94                                             Paraguay
95                                              Romania
96                                   Russian Federation
97                                               Rwanda
98                                           South Asia
99                                                Sudan
100                                             Senegal
101                                     Solomon Islands
102                                        Sierra Leone
103                                         El Salvador
104                                              Serbia
105          Sub-Saharan Africa (excluding high income)
106                               Sao Tome and Principe
107                                            Eswatini
108                                Syrian Arab Republic
109                                                Chad
110                                                Togo
111                                            Thailand
112                                          Tajikistan
113                                        Turkmenistan
114                                         Timor-Leste
115                                               Tonga
116                                             Tunisia
117                                              Turkey
118                                            Tanzania
119                                              Uganda
120                                             Ukraine
121                                 Upper middle income
122                                          Uzbekistan
123                      St. Vincent and the Grenadines
124                                       Venezuela, RB
125                                             Vietnam
126                                             Vanuatu
127                                               Samoa
128                                              Kosovo
129                                         Yemen, Rep.
130                                        South Africa
131                                              Zambia
132                                            Zimbabwe
133                                            Djibouti
134                                             Somalia

We see that there are rows containing info that doesn't match with a particular country but a bunch of countries:

* Low & middle income
* Lower middle income
* Upper middle income
* Sub-Saharan Africa (excluding high income)
* East Asia & Pacific (excluding high income)
* Least developed countries: UN classification
* Europe & Central Asia (excluding high income)
* Latin America & Caribbean (excluding high income)
* Middle East & North Africa (excluding high income)
* South Asia 
* Middle income
* Upper middle income


We're going to ignore this rows in the following querys using the query sentence: WHERE (country_name NOT LIKE '%income%' AND country_name NOT LIKE 'South Asia' AND country_name NOT LIKE '%UN classification')

Finding the number of different countries in the dataset

In [8]:
# Query to count the distinct rows in country_name column
num_country_query = """
           SELECT COUNT(DISTINCT country_name) AS num_country
               FROM `bigquery-public-data.world_bank_intl_debt.international_debt`
       """


# Set up the query
ncq_job = client.query(num_country_query)

# API request - run the query, and return a pandas DataFrame
num_country = ncq_job.to_dataframe()

#Extract the number of countries (substracting the 9 rows of non-countries)
num_country.loc[0,'num_country']-12

123

Finding out the distinct debt indicators

In [9]:
# Query to extract the distinct rows in indicator_name column
deb_indic_query = """
           SELECT indicator_name AS debt_indicator, indicator_code as debt_indicator_id
               FROM `bigquery-public-data.world_bank_intl_debt.international_debt`
               GROUP BY debt_indicator, debt_indicator_id  
       """


# Set up the query
diq_job = client.query(deb_indic_query)

# API request - run the query, and return a pandas DataFrame
deb_indic = diq_job.to_dataframe()

#Extracting the number
deb_indic.head()

                debt_indicator debt_indicator_id
0            GNI (current US$)    NY.GNP.MKTP.CD
1     IDA grants (current US$)    DT.DIS.IDAG.CD
2   Debt buyback (current US$)    DT.DSB.DPPG.CD
3  PPG, IDA (AMT, current US$)    DT.AMT.MIDA.CD
4  PPG, IDA (DIS, current US$)    DT.DIS.MIDA.CD

Totaling the amount of debt owed by each country in million of dolars

In [10]:
total_debt_query = """
           SELECT country_name,
               SUM(value)/ 1000000 AS total_debt_MUSD 
               FROM `bigquery-public-data.world_bank_intl_debt.international_debt`
               WHERE (country_name NOT LIKE '%income%' AND country_name NOT LIKE 'South Asia' AND country_name NOT LIKE '%UN classification')
               GROUP BY country_name
               ORDER BY total_debt_MUSD DESC 
       """


# Set up the query
tdq_job = client.query(total_debt_query)

# API request - run the query, and return a pandas DataFrame
total_debt = tdq_job.to_dataframe()

#Extract the number
total_debt.head()

         country_name  total_debt_MUSD
0              Mexico     6.261206e+06
1            IDA only     5.934219e+06
2               India     4.476825e+06
3              Brazil     3.859451e+06
4  Russian Federation     3.622486e+06

According to this dataset the country with more debt is Mexico with aprox **6.2 million million USD**

Totaling the amount of debt owed by all countries (without including the groups of countries described above)

In [11]:
debt_query = """
           SELECT
               SUM(value)/ 1000000 AS total_debt_MUSD 
               FROM `bigquery-public-data.world_bank_intl_debt.international_debt`
               WHERE (country_name NOT LIKE '%income%' AND country_name NOT LIKE 'South Asia' AND country_name NOT LIKE '%UN classification')
       """


# Set up the query
dq_job = client.query(debt_query)

# API request - run the query, and return a pandas DataFrame
debt = dq_job.to_dataframe()

#Extract the number
debt.head()

   total_debt_MUSD
0     6.744104e+07